= bootstrap_form_for @item do |f|
  %fieldset
    %legend= t("form.item.title")

    = f.text_field :name

    = f.text_area :description, :rows => 5

    = f.text_field :serial

    = f.select :currency, @currencies

    = f.text_field :cost

    = f.text_field :purchased_from

    = f.text_field :purchased_on

    = f.text_field :brand_list, :autocomplete => "off", :data => { :provide => "typeahead", :source => @brands.map(&:name) }

    = f.text_field :type_list, :autocomplete => "off", :data => { :provide => "typeahead", :source => @types.map(&:name) }

    = f.text_field :tag_list, :autocomplete => "off", :data => { :provide => "typeahead", :source => @tags.map(&:name) }

    = f.submit nil