= render 'rightnav'

%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th
        = t('item.list.name')
      %th
        = t('item.list.serial')
      %th= t('table.header.actions')

  %tbody
    - @items.each do |item|
      %tr
        %td
          = link_to item.name, item_path(item)
        %td
          = item.serial
        %td
          = link_to t('table.actions.edit'), edit_item_path(item), :class => 'btn btn-mini btn-default'
